<html>
<head>
<style>
h1 {
  font-size: 1.2rem;
  margin-bottom: 12px;
}
div {
  border: 1px solid gray;
  margin: 24px;
  padding: 12px;
}

div.ok {
  background-color: #ccffcc;
}

div.fail {
  background-color: #ffcccc;
}
</style>
</head>
<body>
  <div>
    <slot />
  </div>
</body>


<script>
  for (const div of document.querySelectorAll("div")) {
    const hasToken = !!div.querySelector(".token")

    div.classList.add(hasToken ? "ok" : "fail")
  }
</script>
</html>
